.default-container {
    max-width: 1024px;
    margin: 0 auto;
}

.container-inner {
    padding: 15px;
}

.container-content {
    padding: 32px 0 60px;
}

.left-container {
    padding: 0 300px 0 80px;
}