$colors: (
    // base
    white: #fff,
    black: #000,

    white-2: rgba(255, 255, 255, 0.24),

    white-gray_1: rgba(0, 0, 0, 0.24),
    white-gray_2: rgba(0, 0, 0, 0.2),

    gray_1: #BDCDD6,
    gray-2: #777777,
    gray-3: #878A8C,
    gray-4: #F6F7F8,
    gray-5: #9a9a9a,
    gray-dark_1: #2C3135,
    gray-dark_2: #1D2023,
    gray-light_1: #f0f2f5,
    gray-green_1: #487284,

    blue-light_1: #067AFF,
    blue-light_2: #449AFF,
    
);
